{% extends 'base.html' %}
{% block body %}

    <section class="lg:px-16 px-4 text-gray-600 dark:text-gray-400 bg-gray-100 dark:bg-dark body-font">
    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
        <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
        <h1 class="title-font text-5xl mb-4 font-medium text-gray-800 dark:text-gray-100">{{site.0.title}}</h1>
        <p class="mb-8 text-xl">{{site.0.description}}</p>
        </div>
        <div class="md:w-1/2 w-full">
        {% if site.0.cover_image %}
            <img class="object-cover rounded-lg" alt="hero" src="{{site.0.cover_image.url}}">
        {% endif %}
        </div>
    </div>
    </section>

    <section class="xl:px-32 px-4 text-gray-600 dark:text-gray-400 bg-gray-100 dark:bg-dark body-font">
        <div class="container px-5 py-24 border-t border-gray-500 mx-auto">
            <div class="flex-wrap -m-4 grid lg:grid-cols-3 p-4 gap-8">
            {% for post in posts %}
                <div class="h-full rounded overflow-hidden">
                {% if post.image %}
                    <img class="h-48 w-full rounded object-cover object-center" src="{{post.image.url}}">
                {% endif %}
                <div class="p-6">

                    <p class="text-blue-500 uppercase">{{post.tags.all.0.title}}</p>
                    <a href="/post/{{post}}" class="title-font text-xl font-semibold text-black dark:text-white mb-3">{{post.title}}</a>
                    <a href="/post/{{post}}">
                    <p class="leading-relaxed mb-3">
                    <i class="las la-2x text-green-500 dark:text-red-500 la-quote-left"></i>
                    {% if post.description %}
                    {{post.description}}
                    {% endif %}
                    <i class="las la-lg text-red-500 dark:text-green-500 la-quote-right"></i>
                    </p>
                    </a>
                    <div id="authors" class="border-t border-gray-500 py-4">
                        <div class="inline-flex space-x-1">
                            {% for author in post.author.all|slice:":2" %}
                                <a href="/author/{{author.name}}" class="rounded-full h-12 w-12 flex items-center justify-center bg-gray-300 dark:bg-gray-800">
                                    <i class="las text-gray-800 dark:text-gray-300 la-user la-2x"></i>
                                </a>
                            {% endfor %}
                            <div class="flex flex-col px-2">
                                <h2 class="text-sm font-semibold text-gray-800 dark:text-gray-400">{% if post.author.all.count > 1 %}Multiple authors {% else %}{% for author in post.author.all %}{{author.name.full_name}}{% endfor %}{% endif %}</h2>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
    {% include 'partials/footer.html' %}
{% endblock body %}